@keyframes esclavel {
    to{
        transform: scale(1);
    }
    50%{
        transform: scale(1.03);
    }
    from{
        transform: scale(1);
    }
}

#services-page{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    margin: 20px 9.5px;
}
.comum-services{
    transition: .5s;
}
.comum-services:hover{
    animation: esclavel 1s infinite;
}
#right-arrow, #left-arrow{
    display: none;
}